<app-header [itemsCountMap]="itemsCountMap" (openCart)="enableCart($event)"></app-header>
<div *ngIf="openCart">
    <app-cart  [cartItems]="cartItems" [totalAmount]="totalAmount" [itemsCountMap]="itemsCountMap"
    (addItem)="addItem($event)" (removeItem)="deleteItem($event)" (orderAddress)="setUserAddress($event)"
    (closeCart)="enableCart($event)" (orderAddress)="setUserAddress($event)" ></app-cart>
</div>

<div class="back">
  <section class="summary">
    <h2>Delicious Food, Delivered To You</h2>
    <p>
      Choose your favorite meal from our broad selection of available meals
      and enjoy a delicious lunch or dinner at home.
    </p>
    <p>
      All our meals are cooked with high-quality ingredients, just-in-time and
      of course by experienced chefs!
    </p>
  </section>
<section class="meals">
   <div class="card">
    <ul *ngFor="let item of menuItems">
           <li class="meal">
                <div>
                    <h3>{{item.name}}</h3>
                    <div class="description">{{item.description}}</div>
                    <div class="price">{{item.price}}</div>
                </div>
                <div>
                    <form class="form">
                       <div class="input">
                        <label>Amount</label>
                        <input type="number" min="0" max="10" step="1" value={{getItemCount(item._id)}}/>
                       </div>
                       <button (click)="addItem(item)">+ Add</button>
                    </form>
                </div>
           </li>
    </ul>
   </div>
</section>

</div>
