<header class="header_nav">
    <nav>
        <ul style="display: inline;">
             <li routerLink="/ottomonMeals"  routerLinkActive="routeActive">Menu</li>
             <li routerLink="/jobs"  routerLinkActive="routeActive">Jobs</li>
             <li routerLink="/review"  routerLinkActive="routeActive">Reviews</li>
             <li routerLink="/contactus"  routerLinkActive="routeActive">Contact Us</li>
             <li routerLink="/logout"  routerLinkActive="routeActive">Logout</li>
        </ul>
    </nav>
</header>